<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Blog</title>
<link href="/stylesheets/bootstrap.css" rel="stylesheet">
<link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>
	<header class="main-header">
		<div class="container-fluid">
			<div class="row">
				<a title="返回主页" class="top-btn col-md-1 col-md-offset-10 btn btn-primary btn-sm " role="button" href="/">主页</a>
				<% if(admin) { %>
				<a title="退出管理员登陆" class="top-btn col-md-1 col-md-offset-10 btn btn-primary btn-sm " role="button" href="/adminLogout">退出管理员登陆</a>	
				<% } %>
			</div>

			<div class="row">
				<h1 class="text-center main-title"><%= title %></h1>
			</div>

		</div>
	</header>
	<div class="container-fluid">
		<div class="row">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav col-md-6">
							<% if (admin) { %>
								<li class="col-md-offset-3"><a title="查看文章" href="/admin">查看文章</a></li>
								<li><a title="查看用户" href="/admin/Users">查看用户</a></li>
								<li><a title="管理员注册" href="/admin/reg">管理员注册</a></li>
							<% } else { %>	
								<li class="col-md-offset-3"><a title="管理员登陆" href="/admin/login">管理员登陆</a></li>
							<% } %>
						</ul>						
					</div>
				</div>
			</nav>
			<% if (success) { %>
			  <div class="alert alert-success text-center" role="alert"><%= success %></div>
			<% } %>
			<% if (error) { %>
			  <div class="alert alert-warning text-center" role="alert"><%= error %> </div>
			<% } %>
			<article class="container col-md-offset-1">