<%- include header %>
<form method = 'post' action='/upload' enctype='multipart/form-data' class="col-md-12">
  <input class="btn btn-default" type="file" name='file1' /><br>
  <input class="btn btn-default" type="file" name='file2' /><br>
  <input class="btn btn-default" type="file" name='file3' /><br>
  <input class="btn btn-default" type="file" name='file4' /><br>
  <input class="btn btn-default" type="file" name='file5' /><br>
  <input class="btn btn-primary" type="submit"/>
</form>
<%- include footer %>