body
{
    background-color: #ECECEC;
    font-family:"Microsoft YaHei";
    background-image: url();
}

.row {
  margin-top: 5px;
  margin-bottom: 5px;
}

.collapse
{
    font-size: 20px;
}


.main-header
{
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    min-height: 200px;
    text-align: center;
}

.main-title
{
    color: white;
    margin-top: 50px;
}

