body
{
    background-color: #ECECEC;
    font-family:"Microsoft YaHei";
    background-image: url();
}

.image-right
{
    text-align: right
}

.of-hd 
{
    overflow: hidden;
}

.input-line-height
{
    margin-bottom: 10px;
}

.top-btn 
{
    margin-top: 4px;
    margin-bottom: 4px;
}

.row {
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar
{
    background-color: #f8f8f8;
}

.navbar-collapse
{
    font-size: 20px;
}


.main-header
{
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    min-height: 200px;
    text-align: center;
}

.main-title
{
    color: white;
    margin-top: 30px;
}

.text-area
{
    margin-top: 4px;
    margin-bottom: 4px;
}

